/*creating default sytles for both mobile & deskstop*/
/* media query for mobile devices (375px)*/ 
@media (max-width: 375px) {
    .outer-container { 
        width: 100%; /*full width for mobile devices*/
        padding: 10px; /*for better readability on small screens*/
    }
}

/* media query for desktop devices (1440px)*/
@media (min-width: 960px) {
    .outer-container {
        max-width: 1440px; /*for better readability on larger screens*/
    }
}

body{ 
    background-color:hsl(30, 38%, 92%);
    font-size: 14px;
}


.outer-container{ 
    width: 90%;
    height: 300px;
    border-style: dotted;
    margin: auto;
    display: flex; 
}

.image-style {
    width: 175px;
    height: auto;
    border-radius: 3%;
    justify-content: center;
}

.inner-container-one {
    width: 175px;
    height: 266px;
    border-radius: 20%;
    padding-top: 10%;
}

.inner-container-two {
    width: 175px;
    height: 266px;
    border-radius: 20%;
    padding-left: 10%;
}


